![](sql.png)

# SQL Notebook - Using Variables between Code Cells

- Code cells cannot directly reference each other
- Temporary Tables can be shared
- Snippet Example for Sharing Variables

## Creating Temp Table Based Variables (Run Values)

In [ ]:
DROP TABLE IF EXISTS #run_values; CREATE TABLE #run_values ([key] VARCHAR(64) PRIMARY KEY, [value] NVARCHAR(MAX))

INSERT #run_values VALUES ('var1', 'Hello')

## Retrieving Temp Table Based Variables

In [ ]:
DECLARE @var1 VARCHAR(10); SELECT @var1 = [value] FROM #run_values WHERE [key] = 'var1'

print @var1

## Snippet Code

> Place in sql.json (under preferences)

``` json
{
  "CreateRunValuesTable": {
    "prefix": "CreateRunValuesTable",
    "body": "DROP TABLE IF EXISTS #run_values; CREATE TABLE #run_values ([key] VARCHAR(64) PRIMARY KEY, [value] NVARCHAR(MAX))",
    "description": "Creates a Temp Table to hold SQL Variables for Notebooks"
  },
  "SetRunValueInTable": {
    "prefix": "SetRunValueInTable",
    "body": "INSERT #run_values VALUES ('${var}', 'Hello')",
    "description": "Sets a Variable Value in the #run_values Temp Table"
  },
  "GetRunValueInTable": {
    "prefix": "GetRunValueInTable",
    "body": "DECLARE @${var} VARCHAR(10); SELECT @${var} = [value] FROM #run_values WHERE [key] = '${var}'",
    "description": "Returns a Variable Value from the #run_values Temp Table"
  }
}
```